<style type="text/css">
    .boxes{
        font-size:14px;
        color:#000;
    }
</style>
{% extends "base.html"%}
{% load staticfiles %}
{% block title %}注册{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-register" action="/question/register/" method="post">
                {% csrf_token %}
                <h2 class="text-center">欢迎注册</h2>
                <div class="form-group boxes">
                    用户名:&nbsp;&nbsp;&nbsp;&nbsp;{{ register.username }}
                </div>
                <div class="form-group boxes">
                    密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ register.password1 }}
                </div>
                <div class="form-group boxes">
                    确认密码:{{ register.password2 }}
                </div>
                <div class="form-group boxes">
                    邮箱:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ register.email }}
                </div>
                <div class="form-group boxes">
                    性别:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ register.sex }}
                </div>
                <div class="form-group boxes">
                    年级:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ register.grade }}
                </div>
                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div>
{% endblock %}
